HalloWCF.Host/HalloWCF.Client/Connected Services/ServiceReference1/HalloWCF.Host.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HalloWCF.Host" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HalloWCF.Host" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPizza">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pizza" nillable="true" type="tns:Pizza" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPizza" nillable="true" type="tns:ArrayOfPizza" />
  <xs:complexType name="Pizza">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Preis" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pizza" nillable="true" type="tns:Pizza" />
</xs:schema>